{{ if (eq .chezmoi.os "darwin") -}}

#!/bin/bash

set -eufo pipefail

{{ $brews := list
     "autojump"
     "bat"
     "cmake"
     "coreutils"
     "dockutil"
     "eza"
     "fd"
     "FelixKratz/formulae/borders"
     "FelixKratz/formulae/sketchybar"
     "ffmpeg"
     "gh"
     "git"
     "git-lfs"
     "gnu-units"
     "gnupg"
     "grep"
     "jq"
     "koekeishiya/formulae/skhd"
     "koekeishiya/formulae/yabai"
     "libsodium"
     "marked"
     "neofetch"
     "neovim"
     "nowplaying-cli"
     "openjdk"
     "openssh"
     "pinentry-mac"
     "python"
     "rclone"
     "ripgrep"
     "ruby-build"
     "thefuck"
     "tmux"
     "wget"
     "xz"
     "yt-dlp" -}}
{{ $casks := list
     "1password-cli"
     "google-cloud-sdk"
     "homebrew/cask-fonts/font-hack-nerd-font"
     "kitty" -}}

brew bundle --verbose --no-lock --file=/dev/stdin <<EOF || true
{{ range ($brews | sortAlpha | uniq) -}}
brew "{{ . }}"
{{ end -}}
{{ range ($casks | sortAlpha | uniq) -}}
cask "{{ . }}"
{{ end -}}
EOF

{{ end -}}