{{ if (eq .chezmoi.os "darwin") -}}
#!/bin/bash

set -eufo pipefail

defaults write NSGlobalDomain AppleInterfaceStyle Dark
defaults write NSGlobalDomain AppleLanguages -array en-JP ja-JP
defaults write NSGlobalDomain AppleLocale en_JP
defaults write NSGlobalDomain InitialKeyRepeat -int 25
defaults write NSGlobalDomain KeyRepeat -int 2
defaults write NSGlobalDomain NSLinguisticDataAssetsRequested -array en ja
defaults write com.apple.dock show-recents -bool false
defaults write com.apple.systempreferences NSQuitAlwaysKeepsWindows -bool false

for dockItemLabel in \
	Safari \
	FaceTime \
	Maps \
	Photos \
	Contacts \
	Calendar \
	Reminders \
	Podcasts \
	TV \
	News \
	Numbers \
	Keynote \
	Pages ; do
	dockutil --find "$dockItemLabel" >/dev/null && dockutil --no-restart --remove "$dockItemLabel"
done

killall Dock

{{ end -}}