{{- if (eq .chezmoi.os "darwin") -}}
#!/bin/bash

set -eufo pipefail

{{ $brews := list
     "cmake"
     "coreutils"
     "dockutil"
     "exa"
     "ffmpeg"
     "gh"
     "git"
     "git-lfs"
     "gnu-units"
     "gnupg"
     "jq"
     "libsodium"
     "openjdk"
     "pinentry-mac"
     "python"
     "rclone"
     "ripgrep"
     "ruby-build"
     "tmux"
     "wget"
     "xz"
     "yt-dlp" -}}
{{ $casks := list
     "1password"
     "1password-cli"
     "adobe-creative-cloud"
     "alfred"
     "bartender"
     "burp-suite-professional"
     "discord"
     "downie"
     "google-chrome"
     "google-cloud-sdk"
     "iina"
     "jetbrains-toolbox"
     "keybase"
     "kitty"
     "lunar"
     "miniconda"
     "mullvadvpn"
     "notion"
     "parallels"
     "permute"
     "signal"
     "slack"
     "steam"
     "sublime-text"
     "transmission-remote-gui"
     "transmit"
     "visual-studio-code"
     "vlc"
     "whatsapp"
     "zoom" -}}

brew bundle --verbose --no-lock --file=/dev/stdin <<EOF
{{ range ($brews | sortAlpha | uniq) -}}
brew "{{ . }}"
{{ end -}}
{{ range ($casks | sortAlpha | uniq) -}}
cask "{{ . }}"
{{ end -}}
EOF
{{ end -}}
