{{ if and (eq .chezmoi.os "darwin") (env "NO_BREW_UPDATE" | not) -}}

#!/bin/bash

set -eufo pipefail

{{ $brews := list
     "autojump"
     "bat"
     "cmake"
     "coreutils"
     "dockutil"
     "eza"
     "fastfetch"
     "fd"
     "FelixKratz/formulae/borders"
     "FelixKratz/formulae/sketchybar"
     "ffmpeg"
     "fzf"
     "gh"
     "git"
     "git-lfs"
     "gnu-units"
     "gnupg"
     "grep"
     "jesseduffield/lazygit/lazygit"
     "jq"
     "koekeishiya/formulae/skhd"
     "koekeishiya/formulae/yabai"
     "libsodium"
     "marked"
     "neofetch"
     "neovim"
     "nowplaying-cli"
     "openjdk"
     "openssh"
     "pinentry-mac"
     "python"
     "rclone"
     "ripgrep"
     "ruby-build"
     "switchaudio-osx"
     "thefuck"
     "tmux"
     "wget"
     "xz"
     "yt-dlp" -}}
{{ $casks := list
     "1password-cli"
     "google-cloud-sdk"
     "hammerspoon"
     "homebrew/cask-fonts/font-jetbrains-mono-nerd-font"
     "homebrew/cask-fonts/font-sf-mono"
     "homebrew/cask-fonts/font-sf-pro"
     "kitty"
     "sf-symbols" -}}

brew bundle --verbose --no-lock --file=/dev/stdin <<EOF || true
{{ range ($brews | sortAlpha | uniq) -}}
brew "{{ . }}"
{{ end -}}
{{ range ($casks | sortAlpha | uniq) -}}
cask "{{ . }}"
{{ end -}}
EOF
{{ end -}}

{{- if and (eq .chezmoi.os "darwin") (not (stat (joinPath .chezmoi.homeDir ".local" "share" "sketchybar_lua" "sketchybar.so"))) -}}
(git clone https://github.com/FelixKratz/SbarLua.git /tmp/SbarLua && cd /tmp/SbarLua/ && make install && rm -rf /tmp/SbarLua/)
{{- end -}}