{{- if (eq .chezmoi.os "darwin") -}}
#!/bin/bash

set -eufo pipefail

{{ $brews := list
     "cmake"
     "coreutils"
     "dockutil"
     "exa"
     "ffmpeg"
     "gh"
     "git"
     "git-lfs"
     "gnu-units"
     "gnupg"
     "jq"
     "libsodium"
     "openjdk"
     "pinentry-mac"
     "python"
     "rclone"
     "ripgrep"
     "ruby-build"
     "tmux"
     "wget"
     "xz" -}}
{{ $casks := list
     "1password"
     "1password-cli"
     "alfred"
     "bartender"
     "burp-suite-professional"
     "google-chrome"
     "jetbrains-toolbox"
     "keybase"
     "kitty"
     "lunar"
     "miniconda"
     "mullvadvpn"
     "slack"
     "sublime-text"
     "transmit"
     "visual-studio-code" 
     "zoom" -}}

{{ if .personal -}}
{{   $brews = concat $brews (list
       "yt-dlp") -}}
{{   $casks = concat $casks (list
       "adobe-creative-cloud"
       "discord"
       "downie"
       "iina"
       "notion"
       "parallels"
       "permute"
       "signal"
       "steam"
       "transmission-remote-gui"
       "vlc"
       "whatsapp") -}}
{{ end -}}

brew bundle --no-lock --file=/dev/stdin <<EOF
{{ range ($brews | sortAlpha | uniq) -}}
brew "{{ . }}"
{{ end -}}
{{ range ($casks | sortAlpha | uniq) -}}
cask "{{ . }}"
{{ end -}}
EOF
{{ end -}}
