{{- if and (eq .chezmoi.os "darwin") (not (stat "/Applications/kitty.app/Contents/MacOS/kitty"))  -}}
#!/bin/bash

set -eufo pipefail

{{ $casks := list
     "alfred"
     "bartender"
     "dropbox"
     "google-chrome"
     "jetbrains-toolbox"
     "keybase"
     "miniconda"
     "mullvadvpn"
     "notion"
     "slack"
     "spotify"
     "sublime-text"
     "superhuman"
     "todoist"
     "transmit"
     "visual-studio-code"
     "vlc"
     "zoom" -}}

brew bundle --verbose --no-lock --file=/dev/stdin <<EOF || true
{{ range ($casks | sortAlpha | uniq) -}}
cask "{{ . }}"
{{ end -}}
EOF

{{ end -}}
