{{/* boolean feature tags */}}
{{- $corp := false -}}{{/* true if this machine is corp/work, false if personal */}}
{{- "" -}}

{{- $osID := .chezmoi.os -}}
{{- if hasKey .chezmoi.osRelease "id" -}}
{{-   $osID = printf "%s-%s" .chezmoi.os .chezmoi.osRelease.id -}}
{{- end -}}

{{/* work around unreliable hostname on darwin */}}
{{- $hostname := .chezmoi.hostname -}}
{{- if eq .chezmoi.os "darwin" -}}
{{-   $computerName := output "scutil" "--get" "ComputerName" | trim -}}
{{-   if eq $computerName "Ruby’s MacBook Air" -}}
{{-     $hostname = "rubys-mba" -}}
{{-   else if eq $computerName "Ruby’s MacBook Pro" -}}
{{-     $hostname = "rubys-mbp" -}}
{{-   else -}}
{{-     $hostname = $computerName -}}
{{-   end -}}
{{- end -}}

{{- if stdinIsATTY -}}
{{    $corp = promptBoolOnce . "corp" "corp" -}}
{{- else -}}
{{-   $corp = false -}}
{{- end -}}

[data]
    defaultMonospaceFontFamily = "Maple Mono NF"
    corp = {{ $corp }}
    hostname = {{ $hostname | quote }}
    osid = {{ $osID | quote }}
[diff]
    exclude = ["externals"]
