export LC_ALL=en_US.UTF-8  
export LC_DATE=ja_JP.UTF-8
export LANG=en_US.UTF-8
export EDITOR=nvim
export GDK_SCALE=2
export GDK_DPI_SCALE=0.5
export QT_SCREEN_SCALE_FACTORS=2
export QT_FONT_DPI={{.dpi}}
export GTK_IM_MODULE=fcitx
export QT_IM_MODULE=fcitx
export XMODIFIERS=@im=fcitx
export GLFW_IM_MODULE=ibus
export QT_AUTO_SCREEN_SCALE_FACTOR=1

{{ includeTemplate (print "colorschemes/" .colorscheme "/fzf") . }}

if [[ "$OSTYPE" == "darwin"* ]]; then
    export SSH_SK_PROVIDER=/usr/local/lib/libsk-libfido2.dylib
    export SSH_ASKPASS=$HOME/.ssh/ssh-askpass
    # export SSH_ASKPASS_REQUIRE=force
else
    PATH="$PATH:$HOME/bin"
    export SSH_ASKPASS=/usr/lib/ssh/x11-ssh-askpass
fi

# asdf
if [ -f "$HOME/.asdf/asdf.sh" ]; then
    . "$HOME/.asdf/asdf.sh"
fi

# brew (macOS)
if [ -d "/opt/homebrew" ]; then
    eval "$(/opt/homebrew/bin/brew shellenv)"

    if [ -d "$(brew --prefix)/opt/grep/libexec/gnubin" ]; then
        PATH="$(brew --prefix)/opt/grep/libexec/gnubin:$PATH"
    fi

    if [ -d "$(brew --prefix)/opt/openssh/bin" ]; then
        PATH="$(brew --prefix)/opt/openssh/bin:$PATH"
    fi

    # gcloud
    if [ -d "$(brew --prefix)/share/google-cloud-sdk" ]; then
        source "$(brew --prefix)/share/google-cloud-sdk/path.zsh.inc"
        source "$(brew --prefix)/share/google-cloud-sdk/completion.zsh.inc"
    fi
fi

# fvm
if [ -d "$HOME/fvm" ]; then
    PATH="$PATH:$HOME/fvm/default/bin"
fi

# rustup/cargo
if [ -f "$HOME/.cargo/env" ]; then
    . "$HOME/.cargo/env"
fi
