HISTSIZE=10000000
SAVEHIST=10000000
HISTFILE=~/.zsh_history
setopt share_history
setopt hist_ignore_dups
setopt hist_ignore_all_dups
setopt hist_ignore_space
setopt hist_reduce_blanks
setopt print_eight_bit

MAGIC_ENTER_GIT_COMMAND='git status -u .'
MAGIC_ENTER_OTHER_COMMAND='ll'

if command -v nvim &> /dev/null; then
  alias vimdiff='nvim -d'
  alias vi='nvim'
  alias vim='nvim'
fi

{{ if eq .chezmoi.os "darwin" -}}
alias neovide='open --new -b com.neovide.neovide --args ${PWD}'
{{ end -}}

__git_files () {
    _wanted files expl 'local files' _files  
}

autoload -Uz compinit
compinit

source ~/.antidote/antidote.zsh
antidote load

bindkey '^[[A' history-substring-search-up
bindkey '^[OA' history-substring-search-up
bindkey '^[[B' history-substring-search-down
bindkey '^[OB' history-substring-search-down
bindkey "^R" history-incremental-search-backward
HISTORY_SUBSTRING_SEARCH_ENSURE_UNIQUE=1

function zvm_after_init() {
  if command -v fzf &> /dev/null; then
    source <(fzf --zsh)
  fi
}

if command -v starship &> /dev/null; then
  eval "$(starship init zsh)"
fi