{{ includeTemplate (print "colorschemes/" .colorscheme "/fzf") . }}

PATH="$PATH:$HOME/bin"
if [[ "$OSTYPE" == "darwin"* ]]; then
    export SSH_SK_PROVIDER=/usr/local/lib/libsk-libfido2.dylib
    export SSH_ASKPASS=$HOME/.ssh/ssh-askpass
    # export SSH_ASKPASS_REQUIRE=force
elif [ -f "/usr/lib/ssh/gnome-ssh-askpass3" ]; then
    export SSH_ASKPASS=/usr/lib/ssh/gnome-ssh-askpass3
elif [ -f "/usr/lib/ssh/gnome-ssh-askpass" ]; then
    export SSH_ASKPASS=/usr/lib/ssh/gnome-ssh-askpass
elif [ -f "/usr/lib/ssh/x11-ssh-askpass" ]; then
    export SSH_ASKPASS=/usr/lib/ssh/x11-ssh-askpass
fi

# asdf
if [ "$(command -v asdf)" ]; then
    export PATH="${ASDF_DATA_DIR:-$HOME/.asdf}/shims:$PATH"
fi

# brew (macOS)
if [ -d "/opt/homebrew" ]; then
    eval "$(/opt/homebrew/bin/brew shellenv)"

    if [ -d "$(brew --prefix)/opt/grep/libexec/gnubin" ]; then
        PATH="$(brew --prefix)/opt/grep/libexec/gnubin:$PATH"
    fi

    if [ -d "$(brew --prefix)/opt/openssh/bin" ]; then
        PATH="$(brew --prefix)/opt/openssh/bin:$PATH"
    fi

    # gcloud
    if [ -d "$(brew --prefix)/share/google-cloud-sdk" ]; then
        source "$(brew --prefix)/share/google-cloud-sdk/path.zsh.inc"
        source "$(brew --prefix)/share/google-cloud-sdk/completion.zsh.inc"
    fi
fi

# fvm
if [ -d "$HOME/fvm" ]; then
    PATH="$PATH:$HOME/fvm/default/bin"
fi

# rustup/cargo
if [ -f "$HOME/.cargo/env" ]; then
    . "$HOME/.cargo/env"
fi

# pipx?
if [ -d "$HOME/.local/bin" ]; then
    PATH="$PATH:$HOME/.local/bin"
fi