Xcursor.theme: WhiteSur-cursors
Xcursor.size: 64
Xft.dpi: {{.dpi}}
Xft.autohint: 0
Xft.lcdfilter: lcddefault
Xft.hintstyle: hintfull
Xft.hinting: 1
Xft.antialias: 1
Xft.rgba: rgb
Lock.dpmsoff: 1
XLock.description: off
XLock.echokeys: off
XLock.info:
XLock.foreground: pink
XLock.background: black
XLock.mode: blank
XLock.username: username: 
XLock.password: password: 
XLock.font: -misc-maple mono nf-medium-r-normal--0-0-0-0-m-0-iso10646-1
XLock.planfont: -misc-maple mono nf-medium-r-normal--0-0-0-0-m-0-iso10646-1
