{{- if and (not .ephemeral) (not .headless) -}}
github.com:
    user: rubyroobs
    oauth_token: {{ (index (onepassword "zjdj3udugbc5jbltkumbqvg23e" "recjl2iol2fdpaoh3anxlfucsi" "my").fields 6).value }}
    git_protocol: https
{{- end }}
