{{- if eq .chezmoi.os "darwin" -}}
pinentry-program /opt/homebrew/bin/pinentry-mac
{{- else -}}
pinentry-program /usr/bin/pinentry-curses
{{ end -}}
enable-ssh-support
default-cache-ttl 60
max-cache-ttl 120
