#!/usr/bin/env bash

set -eufo pipefail

# macOS - install homebrew, setup Sketchybar helper initial apps (if kitty not already installed)
if [[ "$OSTYPE" == "darwin"* ]]; then
    command -v brew >/dev/null 2>&1 || (echo '🍺  Installing Homebrew' && /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)")

    brew bundle --verbose --no-lock --file={{.chezmoi.sourceDir}}/private_dot_config/packages/darwin/Brewfile
fi

if command -v yay > /dev/null 2>&1; then
    echo "Running initial Linux package update and install via yay..."
    yay -Syu
    yay -S --needed --noconfirm - < {{.chezmoi.sourceDir}}/private_dot_config/packages/pacman/packages.txt
fi

if command -v xbps-install > /dev/null 2>&1; then
    echo "Running initial Linux package update and install via xbps-install..."
    sudo xbps-install -Syu
    sudo xbps-install -Sy void-repo-nonfree
    sudo xbps-install -Sy $(cat {{.chezmoi.sourceDir}}/private_dot_config/packages/xbps-install/packages.txt)
fi

if [[ "$OSTYPE" == "openbsd"* ]]; then
    echo "Running initial OpenBSD package update and install..."
    doas pkg_add -uvi || true
    doas pkg_add -l {{.chezmoi.sourceDir}}/private_dot_config/packages/openbsd/packages.txt || true
fi
