#!/usr/bin/env bash

set -eufo pipefail

# macOS - install homebrew, setup
if [[ "$OSTYPE" == "darwin"* ]]; then
    command -v brew >/dev/null 2>&1 || (echo '🍺  Installing Homebrew' && /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)")

    cat {{.chezmoi.sourceDir}}/private_dot_config/packages/Brewfile.tmpl | chezmoi execute-template | brew bundle --verbose --file=/dev/stdin
fi
