#!/usr/bin/env bash

# asdf plugins
if [ -f "$HOME/.asdf/asdf.sh" ]; then
    . $HOME/.asdf/asdf.sh
    for pluginName in \
        ruby \
        golang \
        nodejs \
        yarn \
        golang \
        shellcheck ; do
        asdf plugin add $pluginName >/dev/null 2>&1
    done
fi

{{- if ne .chezmoi.os "openbsd" }}
# rustup
if [ ! -f "$HOME/.cargo/bin/rustup" ]; then
    echo "Installing rustup..."
    curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh -s -- -y
fi
{{- end }}

{{- if eq .chezmoi.os "darwin" }}
# libfido2 SK provider for macOS ssh-agent
if [ ! -f "/usr/local/lib/libsk-libfido2.dylib" ]; then
    if command -v install-libsk-libfido2 > /dev/null 2>&1; then
        echo "install-libsk-libfido2 available but dylib is missing, installing..."
        sudo install-libsk-libfido2
        killall ssh-agent
    fi
fi
{{- end }}

# fonts
#
# force BSD tar
TAR_BIN=`command -v tar 2>&1`
if command -v bsdtar > /dev/null 2>&1; then
    TAR_BIN=`command -v bsdtar 2>&1`
fi

if [[ "$OSTYPE" == "darwin"* ]]; then
  FONT_DIR="$HOME/Library/Fonts"
else
  FONT_DIR="$HOME/.fonts"
  SYS_FONT_DIR="/usr/share/fonts/"
fi

if [ ! -d "$FONT_DIR/zpix" ]; then
    echo "Installing zpix font..."
    mkdir -p $FONT_DIR/zpix
    curl -sL -o $FONT_DIR/zpix/zpix.ttf https://github.com/SolidZORO/zpix-pixel-font/releases/latest/download/zpix.ttf
    curl -sL -o $FONT_DIR/zpix/zpix.bdf https://github.com/SolidZORO/zpix-pixel-font/releases/latest/download/zpix.bdf
fi

if [ ! -d "$FONT_DIR/PixelMplus" ]; then
    echo "Installing PixelMplus font..."
    mkdir -p /tmp/pixelmplusfontdl
    curl -sL -o /tmp/PixelMplus-20130602.zip "https://github.com/itouhiro/PixelMplus/releases/download/v1.0.0/PixelMplus-20130602.zip"
    7z x /tmp/PixelMplus-20130602.zip -aoa -bsp0 -bso0 -y -o/tmp/pixelmplusfontdl
    rm /tmp/PixelMplus-20130602.zip
    mkdir -p $FONT_DIR/PixelMplus
    install -m644 /tmp/pixelmplusfontdl/PixelMplus-20130602/*.tt[fc] $FONT_DIR/PixelMplus
    rm -rf /tmp/pixelmplusfontdl
fi

if [ ! -d "$FONT_DIR/DejaVuSansMono" ]; then
    echo "Installing DejaVu Sans Mono font..."
    mkdir -p $FONT_DIR/DejaVuSansMono
    curl -sL "https://github.com/ryanoasis/nerd-fonts/releases/latest/download/DejaVuSansMono.tar.xz" | xzcat | $TAR_BIN xf - -C $FONT_DIR/DejaVuSansMono
fi

if [ ! -d "$FONT_DIR/JetBrainsMono" ]; then
    echo "Installing JetBrains Mono font..."
    mkdir -p $FONT_DIR/JetBrainsMono
    curl -sL "https://github.com/ryanoasis/nerd-fonts/releases/latest/download/JetBrainsMono.tar.xz" | xzcat | $TAR_BIN xf - -C $FONT_DIR/JetBrainsMono
fi

if [ ! -d "$FONT_DIR/NotoNerdFont" ]; then
    echo "Installing Noto nerd font..."
    mkdir -p $FONT_DIR/NotoNerdFont
    curl -sL "https://github.com/ryanoasis/nerd-fonts/releases/latest/download/Noto.tar.xz" | xzcat | $TAR_BIN xf - -C $FONT_DIR/NotoNerdFont
fi

if [ ! -d "$FONT_DIR/Noto" ]; then
    echo "Installing Noto font..."
    mkdir -p /tmp/notofontdl
    curl -sL -o /tmp/noto-monthly-release-24.8.1.zip "https://github.com/notofonts/notofonts.github.io/archive/refs/tags/noto-monthly-release-24.8.1.zip"
    7z x /tmp/noto-monthly-release-24.8.1.zip "notofonts.github.io-noto-monthly-release-24.8.1/fonts/*" -aoa -bsp0 -bso0 -y -o/tmp/notofontdl
    rm /tmp/noto-monthly-release-24.8.1.zip
    mkdir -p $FONT_DIR/Noto
    install -m644 /tmp/notofontdl/notofonts.github.io-noto-monthly-release-24.8.1/fonts/*/hinted/ttf/*.tt[fc] $FONT_DIR/Noto
    rm -rf /tmp/notofontdl
fi

if [ ! -d "$FONT_DIR/NotoCJK" ]; then
    echo "Installing Noto CJK font..."
    curl -sL -o /tmp/01_NotoSerifCJK.ttc.zip "https://github.com/notofonts/noto-cjk/releases/latest/download/01_NotoSerifCJK.ttc.zip"
    mkdir -p $FONT_DIR/NotoCJK
    7z x /tmp/01_NotoSerifCJK.ttc.zip -aoa -bsp0 -bso0 -y -o$FONT_DIR/NotoCJK
    rm /tmp/01_NotoSerifCJK.ttc.zip
fi

if [ ! -d "$FONT_DIR/MPLUS" ]; then
    echo "Installing MPLUS font..."
    mkdir -p /tmp/mplusfontdl
    curl -sL -o /tmp/c47fd4ff0a604d1517625a0f3d67e6d64e12d585.zip "https://github.com/coz-m/MPLUS_FONTS/archive/c47fd4ff0a604d1517625a0f3d67e6d64e12d585.zip"
    7z x /tmp/c47fd4ff0a604d1517625a0f3d67e6d64e12d585.zip -aoa -bsp0 -bso0 -y -o/tmp/mplusfontdl
    rm /tmp/c47fd4ff0a604d1517625a0f3d67e6d64e12d585.zip
    mkdir -p $FONT_DIR/MPLUS
    install -m644 /tmp/mplusfontdl/MPLUS_FONTS-c47fd4ff0a604d1517625a0f3d67e6d64e12d585/fonts/ttf/*.tt[fc] $FONT_DIR/MPLUS
    rm -rf /tmp/mplusfontdl
fi

if [ ! -d "$FONT_DIR/MapleMono" ]; then
    echo "Installing Maple Mono font..."
    curl -sL -o /tmp/MapleMono-NF.zip "https://github.com/subframe7536/maple-font/releases/latest/download/MapleMono-NF.zip"
    mkdir -p $FONT_DIR/MapleMono
    7z x /tmp/MapleMono-NF.zip -aoa -bsp0 -bso0 -y -o$FONT_DIR/MapleMono
    rm /tmp/MapleMono-NF.zip
fi


unamestr=$(uname)

if [[ "$unamestr" == "Linux" || "$unamestr" == *"BSD" ]]; then
    if [ ! -d "$FONT_DIR/SanFrancisco" ]; then
        echo "Installing San Francisco font..."
        mkdir -p /tmp/sanfranciscofontdl
        curl -sL -o /tmp/77f8a1e62803752013d4933dbaf11653ec3826f9.zip "https://github.com/AppleDesignResources/SanFranciscoFont/archive/77f8a1e62803752013d4933dbaf11653ec3826f9.zip"
        7z x /tmp/77f8a1e62803752013d4933dbaf11653ec3826f9.zip -aoa -bsp0 -bso0 -y -o/tmp/sanfranciscofontdl
        rm /tmp/77f8a1e62803752013d4933dbaf11653ec3826f9.zip
        mkdir -p $FONT_DIR/SanFrancisco
        install -m644 /tmp/sanfranciscofontdl/SanFranciscoFont-77f8a1e62803752013d4933dbaf11653ec3826f9/*.otf $FONT_DIR/SanFrancisco
        rm -rf /tmp/sanfranciscofontdl
    fi

    if [ ! -d "$FONT_DIR/HiraKakuGo" ]; then
        echo "Installing Hiragino Kaku Gothic Pro (Japanese/Kana) font..."
        mkdir -p /tmp/hirakakufontdl
        curl -sL -o /tmp/be9e7fc972b20bf8cd210a6d63f93d8a55bf7f68.zip "https://github.com/sideroad/capturing/archive/be9e7fc972b20bf8cd210a6d63f93d8a55bf7f68.zip"
        7z x /tmp/be9e7fc972b20bf8cd210a6d63f93d8a55bf7f68.zip "capturing-be9e7fc972b20bf8cd210a6d63f93d8a55bf7f68/.fonts/*" -aoa -bsp0 -bso0 -y -o/tmp/hirakakufontdl
        rm /tmp/be9e7fc972b20bf8cd210a6d63f93d8a55bf7f68.zip
        mkdir -p $FONT_DIR/HiraKakuGo
        install -m644 /tmp/hirakakufontdl/capturing-be9e7fc972b20bf8cd210a6d63f93d8a55bf7f68/.fonts/*.otf $FONT_DIR/HiraKakuGo
        rm -rf /tmp/hirakakufontdl
    fi

    if [ ! -d "$FONT_DIR/AppleSDGothicNeo" ]; then
        echo "Installing Apple SD Gothic Neo (Hangul) font..."
        mkdir -p $FONT_DIR/AppleSDGothicNeo
        mkdir -p /tmp/applesdfontdl
        curl -sL -o /tmp/86137e950e321310309cfd7a239746ab1b5ba5ff.zip "https://github.com/adrinerDP/font-applesdgothicneo/archive/86137e950e321310309cfd7a239746ab1b5ba5ff.zip"
        7z x /tmp/86137e950e321310309cfd7a239746ab1b5ba5ff.zip "font-applesdgothicneo-86137e950e321310309cfd7a239746ab1b5ba5ff/fonts/*" -aoa -bsp0 -bso0 -y -o/tmp/applesdfontdl
        rm /tmp/86137e950e321310309cfd7a239746ab1b5ba5ff.zip
        mkdir -p $FONT_DIR/AppleSDGothicNeo
        install -m644 /tmp/applesdfontdl/font-applesdgothicneo-86137e950e321310309cfd7a239746ab1b5ba5ff/fonts/*.otf $FONT_DIR/AppleSDGothicNeo
        rm -rf /tmp/applesdfontdl
    fi

    if [ ! -d "$FONT_DIR/AppleColorEmoji" ]; then
        echo "Installing Apple Color Emoji font..."
        mkdir -p $FONT_DIR/AppleColorEmoji
        curl -sL -o $FONT_DIR/AppleColorEmoji/AppleColorEmoji.ttf https://github.com/samuelngs/apple-emoji-linux/releases/latest/download/AppleColorEmoji.ttf
    fi
fi

if [[ "$unamestr" == "OpenBSD" ]]; then
    doas mkdir -p /usr/local/share/fonts/
    doas cp -R ~/.fonts/* /usr/local/share/fonts/
    doas mkfontscale /usr/local/share/fonts/*
    doas mkfontdir /usr/local/share/fonts/*
elif [[ "$unamestr" == "Linux" || "$unamestr" == *"BSD" ]]; then
    sudo cp -R ~/.fonts/* /usr/share/fonts/
    sudo mkfontscale /usr/share/fonts/*
    sudo mkfontdir /usr/share/fonts/*
fi

echo "Rebuilding font cache..."
fc-cache -f

# macOS application and sketchybar helper bootstrap
if [[ "$OSTYPE" == "darwin"* ]]; then
    if [ ! -f "/Applications/kitty.app/Contents/MacOS/kitty" ]; then
        echo "Installing bootstrap applications (to stop this in future applies, make sure kitty is installed)..."
        brew bundle --verbose --no-lock --file=$HOME/.config/homebrew/Brewfile.bootstrap
    fi

    if [ ! -f "$HOME/.local/share/sketchybar_lua/sketchybar.so" ]; then
        echo "Installing SbarLua (Sketchybar Lua helpers)..."
        git clone https://github.com/FelixKratz/SbarLua.git /tmp/SbarLua && cd /tmp/SbarLua/ && make install && rm -rf /tmp/SbarLua/
    fi
fi
