#!/bin/zsh
{{ if eq .chezmoi.os "linux" -}}
sudo apt install thefuck autojump
{{ end -}}
if [ ! -d ~/.zplug ]
then
    curl -sL --proto-redir -all,https https://raw.githubusercontent.com/zplug/installer/master/installer.zsh | zsh
fi
