#!/usr/bin/env bash

set -eufo pipefail

# macOS - install homebrew, setup Sketchybar helper initial apps (if kitty not already installed)
if [[ "$OSTYPE" == "darwin"* ]]; then
    command -v brew >/dev/null 2>&1 || (echo '🍺  Installing Homebrew' && /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)")

    brew bundle --verbose --no-lock --file={{.chezmoi.sourceDir}}/private_dot_config/packages/darwin/Brewfile
fi

if [[ "$OSTYPE" == "linux"* ]]; then
    echo "Running initial Linux package update and install (hope you're on an arch-based distro)..."
    yay -Syu
    yay -S --needed --noconfirm - < {{.chezmoi.sourceDir}}/private_dot_config/packages/pacman/packages.txt
fi

if [[ "$OSTYPE" == "openbsd"* ]]; then
    echo "Running initial OpenBSD package update and install..."
    doas pkg_add -uvi
    doas pkg_add -l {{.chezmoi.sourceDir}}/private_dot_config/packages/openbsd/packages.txt
fi
