{{ if and (eq .chezmoi.os "darwin" "linux") (not .headless) -}}

{{ $extensions := list
     "BazelBuild.vscode-bazel"
     "ms-azuretools.vscode-docker"
     "GitHub.codespaces"
     "ecmel.vscode-html-css"
     "ms-toolsai.jupyter"
     "ms-toolsai.jupyter-keymap"
     "ms-toolsai.jupyter-renderers"
     "ms-python.vscode-pylance"
     "ms-python.python"
     "ms-vscode-remote.remote-containers"
     "rebornix.ruby"
     "Hridoy.rails-snippets"
     "connorshea.vscode-ruby-test-adapter"
     "misogi.ruby-rubocop"
     "monokai.theme-monokai-pro-vscode"
     "ms-vscode.test-adapter-converter"
     "hbenl.vscode-test-explorer"
     "Gruntfuggly.todo-tree"
     "wingrunr21.vscode-ruby"
     "Vue.volar" -}}

#!/bin/bash

set -eufo pipefail

{{ range $extensions -}}
code --force --install-extension {{ . }}
{{ end -}}

{{ end -}}