#!/usr/bin/env bash

# rustup
if [ ! -f "$HOME/.cargo/bin/rustup" ]; then
    echo "Installing rustup..."
    curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh -s -- -y
fi

{{- if eq .chezmoi.os "darwin" }}
# libfido2 SK provider for macOS ssh-agent
if [ ! -f "/usr/local/lib/libsk-libfido2.dylib" ]; then
    if command -v install-libsk-libfido2 > /dev/null 2>&1; then
        echo "install-libsk-libfido2 available but dylib is missing, installing..."
        sudo install-libsk-libfido2
        killall ssh-agent
    fi
fi
{{- end }}

# fonts!
#
# force BSD tar
TAR_BIN=`command -v tar 2>&1`
if command -v bsdtar > /dev/null 2>&1; then
    TAR_BIN=`command -v bsdtar 2>&1`
fi

if [[ "$OSTYPE" == "darwin"* ]]; then
  FONT_DIR="$HOME/Library/Fonts"
else
  FONT_DIR="$HOME/.fonts"
  SYS_FONT_DIR="/usr/share/fonts/"
fi

if [ ! -d "$FONT_DIR/zpix" ]; then
    echo "Installing zpix font..."
    mkdir -p $FONT_DIR/zpix
    curl -sL -o $FONT_DIR/zpix/zpix.ttf https://github.com/SolidZORO/zpix-pixel-font/releases/latest/download/zpix.ttf
    curl -sL -o $FONT_DIR/zpix/zpix.bdf https://github.com/SolidZORO/zpix-pixel-font/releases/latest/download/zpix.bdf
fi

if [ ! -d "$FONT_DIR/PixelMplus" ]; then
    echo "Installing PixelMplus font..."
    mkdir -p /tmp/pixelmplusfontdl
    curl -sL -o /tmp/PixelMplus-20130602.zip "https://github.com/itouhiro/PixelMplus/releases/download/v1.0.0/PixelMplus-20130602.zip"
    7z x /tmp/PixelMplus-20130602.zip -aoa -bsp0 -bso0 -y -o/tmp/pixelmplusfontdl
    rm /tmp/PixelMplus-20130602.zip
    mkdir -p $FONT_DIR/PixelMplus
    install -m644 /tmp/pixelmplusfontdl/PixelMplus-20130602/*.tt[fc] $FONT_DIR/PixelMplus
    rm -rf /tmp/pixelmplusfontdl
fi\

if [ ! -d "$FONT_DIR/DejaVuSansMono" ]; then
    echo "Installing DejaVu Sans Mono font..."
    mkdir -p $FONT_DIR/DejaVuSansMono
    curl -sL "https://github.com/ryanoasis/nerd-fonts/releases/latest/download/DejaVuSansMono.tar.xz" | xzcat | $TAR_BIN xf - -C $FONT_DIR/DejaVuSansMono
fi

if [ ! -d "$FONT_DIR/JetBrainsMono" ]; then
    echo "Installing JetBrains Mono font..."
    mkdir -p $FONT_DIR/JetBrainsMono
    curl -sL "https://github.com/ryanoasis/nerd-fonts/releases/latest/download/JetBrainsMono.tar.xz" | xzcat | $TAR_BIN xf - -C $FONT_DIR/JetBrainsMono
fi

if [ ! -d "$FONT_DIR/NotoNerdFont" ]; then
    echo "Installing Noto nerd font..."
    mkdir -p $FONT_DIR/NotoNerdFont
    curl -sL "https://github.com/ryanoasis/nerd-fonts/releases/latest/download/Noto.tar.xz" | xzcat | $TAR_BIN xf - -C $FONT_DIR/NotoNerdFont
fi

if [ ! -d "$FONT_DIR/Noto" ]; then
    echo "Installing Noto font..."
    mkdir -p /tmp/notofontdl
    curl -sL -o /tmp/noto-monthly-release-24.8.1.zip "https://github.com/notofonts/notofonts.github.io/archive/refs/tags/noto-monthly-release-24.8.1.zip"
    7z x /tmp/noto-monthly-release-24.8.1.zip "notofonts.github.io-noto-monthly-release-24.8.1/fonts/*" -aoa -bsp0 -bso0 -y -o/tmp/notofontdl
    rm /tmp/noto-monthly-release-24.8.1.zip
    mkdir -p $FONT_DIR/Noto
    install -m644 /tmp/notofontdl/notofonts.github.io-noto-monthly-release-24.8.1/fonts/*/hinted/ttf/*.tt[fc] $FONT_DIR/Noto
    rm -rf /tmp/notofontdl
fi

if [ ! -d "$FONT_DIR/NotoCJK" ]; then
    echo "Installing Noto CJK font..."
    mkdir -p /tmp/notocjkfontdl
    curl -sL -o /tmp/02_NotoSansCJK-TTF-VF.zip "https://github.com/notofonts/noto-cjk/releases/download/Sans2.004/02_NotoSansCJK-TTF-VF.zip"
    7z x /tmp/02_NotoSansCJK-TTF-VF.zip -aoa -bsp0 -bso0 -y -o/tmp/notocjkfontdl
    rm /tmp/02_NotoSansCJK-TTF-VF.zip
    mkdir -p $FONT_DIR/NotoCJK
    install -m644 /tmp/notocjkfontdl/Variable/TTF/**/*.tt[fc] $FONT_DIR/NotoCJK
    rm -rf /tmp/notocjkfontdl
fi

if [ ! -d "$FONT_DIR/MPLUS" ]; then
    echo "Installing MPLUS font..."
    mkdir -p /tmp/mplusfontdl
    curl -sL -o /tmp/c47fd4ff0a604d1517625a0f3d67e6d64e12d585.zip "https://github.com/coz-m/MPLUS_FONTS/archive/c47fd4ff0a604d1517625a0f3d67e6d64e12d585.zip"
    7z x /tmp/c47fd4ff0a604d1517625a0f3d67e6d64e12d585.zip -a7z x /tmp/02_NotoSansCJK-TTF-VF.zip -aoa -bsp0 -bso0 -y -ooa -bsp0 -bso0 -y -o/tmp/mplusfontdl
    rm /tmp/c47fd4ff0a604d1517625a0f3d67e6d64e12d585.zip
    mkdir -p $FONT_DIR/MPLUS
    install -m644 /tmp/mplusfontdl/MPLUS_FONTS-c47fd4ff0a604d1517625a0f3d67e6d64e12d585/fonts/ttf/*.tt[fc] $FONT_DIR/MPLUS
    rm -rf /tmp/mplusfontdl
fi

if [ ! -d "$FONT_DIR/MapleMono" ]; then
    echo "Installing Maple Mono font..."
    curl -sL -o /tmp/MapleMono-NF.zip "https://github.com/subframe7536/maple-font/releases/latest/download/MapleMono-NF.zip"
    mkdir -p $FONT_DIR/MapleMono
    7z x /tmp/MapleMono-NF.zip -aoa -bsp0 -bso0 -y -o$FONT_DIR/MapleMono
    rm /tmp/MapleMono-NF.zip
fi

echo "Rebuilding font cache..."
fc-cache -f

# macOS application bootstrap
if [[ "$OSTYPE" == "darwin"* ]]; then
    if [ ! -f "/Applications/Ghostty.app/Contents/MacOS/Ghostty" ]; then
        echo "Installing bootstrap applications (to stop this in future applies, make sure ghostty is installed)..."
        brew bundle --verbose --file=$HOME/.config/packages/Brewfile.bootstrap
    fi
fi
