{{- $keyfiles := list
    "~/.ssh/ruby_gitlab_ed25519"
    "~/.ssh/id_ed25519" -}}

{{ range $keyfiles -}}
Match Exec "[ -f {{ . }} ]"
    AddKeysToAgent              yes
    IdentitiesOnly              yes
    IdentityFile                {{ . }}

{{ end -}}

{{- $fidoSerialHandles := dict
        "636" "5CNF_636_joker"
        "825" "5AT_825_mona"
        "104" "5CN_104_skull"
        "562" "5AN_562_fox"
        "544" "5CTF_544_panther" -}}

{{ range $serialSuffix, $handleFile := $fidoSerialHandles -}}
Match Exec "gpg --card-status | grep -Pq '(?<=Serial number).*\K[0-9]{5}{{$serialSuffix}}$'"
    AddKeysToAgent              yes
    IdentitiesOnly              yes
    IdentityFile                ~/.ssh/id_ed25519_sk_{{ $handleFile }}_notouch
    IdentityFile                ~/.ssh/id_ed25519_sk_{{ $handleFile }}

{{ end -}}

{{ if .corp }}
# GCP staging bastion host
Host lb-bastion.gstg.gitlab.com
    User                        rnealon

# gstg boxes
Host *.gitlab-staging-1.internal
    ProxyCommand                ssh lb-bastion.gstg.gitlab.com -W %h:%p

# GCP production bastion host
Host lb-bastion.gprd.gitlab.com
    User                        rnealon

# lab bastion host
Host lb-bastion.db-lab.gitlab.com
    User                        rnealon

# lab boxes
Host *.gitlab-db-lab.internal
    User                        rnealon
    PreferredAuthentications    publickey
    ProxyCommand                ssh lb-bastion.db-lab.gitlab.com -W %h:%p

Host gprd-rails
    User                        rnealon-rails
    StrictHostKeyChecking       no
    HostName                    console-01-sv-gprd.c.gitlab-production.internal
    ProxyCommand                ssh lb-bastion.gprd.gitlab.com -W %h:%p

Host gprd-psql
    User                        rnealon-db
    StrictHostKeyChecking       no
    HostName                    console-01-sv-gprd.c.gitlab-production.internal
    ProxyCommand                ssh lb-bastion.gprd.gitlab.com -W %h:%p

Host gprd-psql-archive
    User                        rnealon-db-archive
    StrictHostKeyChecking       no
    HostName                    console-01-sv-gprd.c.gitlab-production.internal
    ProxyCommand                ssh lb-bastion.gprd.gitlab.com -W %h:%p
{{ end }}
