#!/usr/bin/env sh

sudo yabai --load-sa
yabai -m signal --add event=dock_did_restart action="sudo yabai --load-sa"

yabai -m config mouse_follows_focus            off            \
                focus_follows_mouse            off            \
                window_placement               second_child   \
                window_animation_duration      0.0            \
                window_animation_easing        ease_out_quint \
                split_ratio                    0.50           \
                split_type                     auto           \
                auto_balance                   on             \
                layout                         bsp            \
                top_padding                    4              \
                bottom_padding                 4              \
                left_padding                   4              \
                right_padding                  4              \
                window_shadow                  off            \
                window_gap                     4

# Rules: Management

# Turn off tiling by default for all apps
yabai -m rule --add app=".*" manage=off

# Turn on tiling for specific apps
yabai -m rule --add label="Safari" app="^Safari$" title!="^(General|(Tab|Password|Website|Extension)s|AutoFill|Se(arch|curity)|Privacy|Advance)$" manage=on
yabai -m rule --add label="Firefox" app="^Firefox$" manage=on
yabai -m rule --add label="Lagrange" app="^Lagrange$" manage=on
yabai -m rule --add label="Google Chrome" app="^Google Chrome$" manage=on
yabai -m rule --add label="Mail" app="^Mail$" manage=on
yabai -m rule --add label="Calendar" app="^Calendar$" manage=on
yabai -m rule --add label="Notes" app="^Notes$" manage=on
yabai -m rule --add label="Reminders" app="^Reminders" manage=on
yabai -m rule --add label="Ghostty" app='^Ghostty$' manage=on
yabai -m rule --add label="Code" app="^Code$" manage=on
yabai -m rule --add label="DataGrip" app="^DataGrip$" title!="(Data Sources and Drivers|Settings)" manage=on
yabai -m rule --add label="Signal" app="^Signal$" manage=on
yabai -m rule --add label="LINE" app="^LINE$" title="^LINE$" manage=on
yabai -m rule --add label="KakaoTalk" app="^KakaoTalk$" title="^KakaoTalk$" manage=on
yabai -m rule --add label="WhatsApp" app="^WhatsApp$" manage=on
yabai -m rule --add label="Messages" app="^Messages$" manage=on
yabai -m rule --add label="Slack" app="^Slack$" manage=on
yabai -m rule --add label="Friture" app="^(F|f)riture$" manage=on
yabai -m rule --add label="Music" app="^Music$" manage=on
yabai -m rule --add label="Microsoft Office" app="^Microsoft (Word|Excel|PowerPoint)$" manage=on
yabai -m rule --add label="Guitar Pro" app="^Guitar Pro [0-9]+$" manage=on

# Tiling for some apps that just don't work properly? 
# Issue:
sublayerapps='WhatsApp'
for app in $sublayerapps; do
  yabai -m rule --add \
          label="$app sublayer" \
          app="^$app$" \
          sub-layer=below \
          manage=off
  yabai -m rule --add \
          label="$app" \
          app="^$app$" \
          role="AXWindow" \
          subrole="AXStandardWindow" \
          sub-layer=normal \
          manage=on
done

# Default centering for some apps
yabai -m rule --add app="^Finder$" title!="(Co(py|nnect)|Move|Info|Pref)" manage=off grid=6:4:1:1:2:4
yabai -m rule --add app="^Finder$" title="(Co(py|nnect)|Move|Info|Pref)" manage=off
yabai -m rule --add app="^Sublime Text$" manage=off grid=6:4:1:1:2:4
yabai -m rule --add app="^Finder$" title="" manage=off grid=6:4:1:1:2:4
yabai -m rule --add app="^Home$" manage=off grid=6:4:1:1:2:4
yabai -m rule --add app="^1Password$" manage=off grid=6:4:1:1:2:4
yabai -m rule --add app="^Sonos$" manage=off grid=6:4:1:1:2:4
yabai -m rule --add app="^Streaks$" manage=off grid=6:4:1:1:2:4
yabai -m rule --add app="^zoom\.us$" manage=off grid=6:4:1:1:2:4
yabai -m rule --add app="^Home Assistant$" manage=off grid=6:4:1:1:2:4

# Rules: Layout
yabai -m rule --add app="^Google Chrome$" opacity=1.0
yabai -m rule --add app="^Firefox$" opacity=1.0
yabai -m rule --add app="^zoom.us$" opacity=1.0
yabai -m rule --add app="^Preview$" opacity=1.0ß

{{- includeTemplate (print "colorschemes/" .colorscheme "/yabai-borders") . -}}

echo "yabai configuration loaded"
