# vim:fileencoding=utf-8:ft=conf:foldmethod=marker

allow_remote_control yes

# No title bar and padding to make up for that
hide_window_decorations titlebar-and-corners
window_padding_width 4

# Transparency
background_opacity 1
dynamic_background_opacity yes

# Font
font_family {{ .fontFamily }}
font_size {{ .fontSize }}

# Colors
{{- includeTemplate (print "colorschemes/" .colorscheme "/kitty") . -}}