# vim:fileencoding=utf-8:ft=conf:foldmethod=marker

allow_remote_control yes

# No title bar and padding to make up for that
hide_window_decorations titlebar-and-corners
window_padding_width 4

# Transparency
background_opacity 1
dynamic_background_opacity yes

# Font
font_family {{ .defaultMonospaceFontFamily }}, monospace, emoji 
font_size 14

# Keybinds
map super+v             paste_from_clipboard
map super+c             copy_to_clipboard
map super+w             close_window

# Colors
{{- includeTemplate (print "colorschemes/" .colorscheme "/kitty") . -}}
