{{- if and (not .ephemeral) (not .headless) -}}
https://ruby%40ruby.sh:{{ (index (onepassword "kakjlns4dfgyvlalx3wrw4sqge").fields 1).value }}@huggingface.co
https://rubyroobs:{{ (index (onepassword "zjdj3udugbc5jbltkumbqvg23e").fields 6).value }}@github.com
{{- end }}
