return {
  text = "{{ .defaultMonospaceFontFamily }}",
  numbers = "{{ .defaultMonospaceFontFamily }}",

  style_map = {
  {{ if hasPrefix "DejaVuSansM" .defaultMonospaceFontFamily }}
    ["Regular"] = "Regular",
    ["Semibold"] = "Regular",
    ["Bold"] = "Bold",
    ["Heavy"] = "Bold",
    ["Black"] = "Bold",
  {{ else if hasPrefix "Maple Mono" .defaultMonospaceFontFamily }}
    ["Regular"] = "Light",
    ["Semibold"] = "Regular",
    ["Bold"] = "Bold",
    ["Heavy"] = "Bold",
    ["Black"] = "Bold",
  {{ else }}
    ["Regular"] = "Regular",
    ["Semibold"] = "Medium",
    ["Bold"] = "SemiBold",
    ["Heavy"] = "Bold",
    ["Black"] = "ExtraBold",
  {{ end }}
  }
}
